<!DOCTYPE html>
<html>
    <head>
        <title>Flowwork</title>
    	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <%= javascript_include_tag 'sammy.js' %>
        <%= javascript_include_tag 'rails.js' %>
        <%= javascript_include_tag 'application.js' %>
        <%= csrf_meta_tag %>
    </head>
<body>
<% # initial horizontal layout is only 3 divs %>
<div id="tools">
    <div id="user_nav">  
       <% if user_signed_in? %>  
         Signed in as <%= current_user.email %>. Not you?  
         <%= link_to "Sign out", destroy_user_session_path %>  
       <% else %>  
         <%= link_to "Sign up", new_user_registration_path %> or  
         <%= link_to "Sign in", new_user_session_path %>  
       <% end %>  
    </div> 
</div>
<div id="main">
    <p class="notice"><%= notice %><%= alert %></p>
    <%= yield %>
</div>
<div id="appendix">
    <h3>Toolbar for useful links during development</h3>
    <p><%= link_to "Home", "/" %></p>
</div>
</body>
</html>
